html, body{
     box-sizing: border-box;
     margin: 0; padding: 0;
     position: relative;
     height: auto;
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(238, 238, 238);
     z-index: 0;
}

nav{
     position: fixed;
     top: 0; left: 0; right: 0;
     border-bottom: 1px solid gainsboro;
     background-color: rgba(255, 255, 255);
     z-index: 1;
}
nav .name{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 15%;
}
nav .name img{
     width:2.6em;
     height:2.6em;
     border-radius: 50%;
}
nav .name h3{
     font-size: clamp(.75rem, 1.7vw, 3rem);
     color: rgb(17, 139, 139);
}
.overlay{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.5);
     display: none;
     z-index: 2; 
}
main{
     position: absolute;
     top: 6em;
     left: 15%; right: 15%;
     width: 70%;
}
.main-section{
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: space-evenly;
}
.main-section .title{
     margin-bottom: 1em;
}
.main-section .title h1{
     font-size: clamp(2rem, 2.7vw, 5rem);
}
.main-section .profile{
     width: 100%;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     padding: .3em .5em .3em .5em;
     border-radius: 20px;
     margin-bottom: 1em;
}
.main-section .profile .prof p{
     font-size: clamp(.8rem, 1.4vw, 2rem);
     border-bottom: 1px solid rgb(216, 216, 216);
}
.main-section .profile .profile-pic-name{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
}
.main-section .profile .profile-pic-name .pic{
     width: 10%;
}
.main-section .profile .profile-pic-name .pic img{
     width: 80%;
     border-radius: 50%;
}
.main-section .profile .profile-pic-name .user-details{
     width: 85%;
}

.main-section .location{
     width: 100%;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     padding: .3em .5em .3em .5em;
     border-radius: 20px;
     margin-bottom: 1em;
}
.main-section .location  .loca p{
     font-size: clamp(.8rem, 1.4vw, 2rem);
     border-bottom: 1px solid rgb(216, 216, 216);
}
.main-section .location .added{
     background-color: rgb(238, 238, 238);
     margin-bottom: .5em;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     border-radius: 10px;
     padding: .3em .5em .3em .5em;
}
.main-section .location .added button{
     border: none;
     cursor: pointer;
     transition: all .3s ease;
}
.main-section .location .added button:hover{
     transform: scale(1.1);
}
.main-section .location .added button:active{
     transform: scale(1);
}
.main-section .location .add-btn{
     width: 100%;
     background-color: #aacbf0;
     border-radius: 20px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: .6em 0 .6em 0;
     cursor: pointer;
}
.main-section .location .add-btn button{
     border: none;
     background-color: transparent;
     color : #fff;
     display: flex; 
     align-items: center;
     cursor: pointer;
}
.main-section .unit-measurement{
     width: 100%;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     padding: .3em .5em .3em .5em;
     border-radius: 20px;
     margin-bottom: 1em;
}
.main-section .unit-measurement .unit-title p{
     font-size: clamp(.8rem, 1.4vw, 2rem);
     border-bottom: 1px solid rgb(216, 216, 216);
}
.main-section .unit-measurement .unit{
     background-color: rgb(238, 238, 238);
     margin-bottom: .5em;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     border-radius: 10px;
     padding: .3em .5em .3em .5em;
}
.switch {
  font-size: 1em;
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: black;
  border-radius: 20px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: lime;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.2em);
}

.main-section .appearance{
     width: 100%;
     background-color: #fff;
     display: flex;
     flex-direction: column;
     padding: .3em .5em .3em .5em;
     border-radius: 20px;
     margin-bottom: 1em;
}
.main-section .appearance .theme{
     font-size: clamp(.8rem, 1.4vw, 2rem);
     border-bottom: 1px solid rgb(216, 216, 216);
}
.main-section .appearance .toggle{
     background-color: rgb(238, 238, 238);
     margin-bottom: .5em;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     border-radius: 10px;
     padding: .3em .5em .3em .5em;
}

.popup{
     display: none;
     flex-direction: column;
     background-color: white;
     border: 1.5px solid rgb(218, 215, 215);
     border-radius: 20px;
     width: 40%;
     padding: .4em .5em .3em .5em;
     position: fixed;
     left: 30%; right: 30%; top: 11%; 
     z-index: 3;
}
.popup .title-container{
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid rgb(202, 202, 202);
}
.popup .title-container button{
     border: none;
     font-size: 1.2rem;
     cursor: pointer;
     background-color: transparent;
     transition: all .3s ease;
}
.popup .title-container button:hover{
     transform: scale(1.1);
}
.popup .title-container button:active{
     transform: scale(1);
}
.popup .search-container{
     width: 100%;
     padding: .5em .8em 3em .8em;
}
.popup .search-container .added-location{
     border: 2px solid rgb(214, 214, 214);
     border-radius: 10px;
     width: 80%;
     height: 3.5em;
     margin-left: 1em;
}

.popup .preferences{
     width: 100%;
     padding: .5em .8em 1em .8em;
}
.popup .preferences .suggestion{
     width: 75%;
     border: 2px solid rgb(201, 201, 201);
     border-radius: 20px;
     margin-left: 1em;
     margin-bottom: .5em;
     padding: .3em .8em;
}
.popup .preferences .suggestion:focus{
     border: 2px solid blue;
}

.popup .preferences .suggest-one p{
     margin: .3em; padding: 0;
}
.popup .add-or-cancel{
     margin-left: 50%;
}
.popup .add-or-cancel .refuse{
     border: none;
     padding: .5em .8em;
     margin-right: 1em;
     font-size: 1.1rem;
     border-radius: 10px;
}
.popup .add-or-cancel .accept{
     border: none;
     padding: .5em .8em;
     margin-right: 1em;
     font-size: 1.1rem;
     background-color:blue;
     color: white;
     border-radius: 10px;
     transition: all .3s ease;
}
.popup .add-or-cancel .accept:hover{
     transform: scale(1.1);
}
.popup .add-or-cancel .accept:active{
     transform: scale(1);
}